<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4"><%=t('Заведения', default: 'Заведения')%></h1>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="/restaurants/index_1">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://img02.rl0.ru/afisha/o/s4.afisha.net/MediaStorage/88/22/32674b229ea147dabf33efce2288.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><%=t('Кафе ПушкинЪ', default: 'Кафе ПушкинЪ')%></h3>
      <p><%=t('Легендарный ресторан русской дворянской кухни Кафе Пушкинъ. Туристический аттракцион русской кухни с налетом аристократизма.', default: 'Легендарный ресторан русской дворянской кухни «Кафе Пушкинъ». Туристический аттракцион русской кухни с налетом аристократизма.')%></p>
      <a class="btn btn-primary" href="/restaurants/index_1"><%=t('Подробнее', default: 'Подробнее')%></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="/restaurants/index_2">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://tomesto.ru/img/place/000/014/226/bar-kuba-libre-cuba-libre-na-ulitse-pokrovka_a3d06_full-21560.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><%=t('Бар Cuba Libre', default: 'Бар Cuba Libre')%></h3>
      <p><%=t('Cuba Libre bar — это настоящий остров свободы в суете большого города.', default: 'Cuba Libre bar — это настоящий остров свободы в суете большого города.')%></p>
      <a class="btn btn-primary" href="/restaurants/index_2"><%=t('Подробнее', default: 'Подробнее')%></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="/restaurants/index_3">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://winepeople.ru/%D0%B1%D1%8C%D0%B5%D1%80%D0%BD_html_53dd7cc5.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><%=t('Ресторан Bjorn', default: 'Ресторан Bjorn')%></h3>
      <p><%=t('«Bjorn» - ресторан северной кухни. Меню содержит традиционные скандинавские блюда, а также их необычную
        интерпретацию от шеф-повара.', default: '«Bjorn» - ресторан северной кухни. Меню содержит традиционные скандинавские блюда, а также их необычную
        интерпретацию от шеф-повара.')%></p>
      <a class="btn btn-primary" href="/restaurants/index_3"><%=t('Подробнее', default: 'Подробнее')%></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
      <a href="/restaurants/index_4">
        <img class="img-fluid rounded mb-3 mb-md-0" src="https://kudago.com/media/images/place/7d/67/7d677bfff53d347a55acc2d36bd48ab2.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3><%=t('Ресторан White Rabbit', default: 'Ресторан White Rabbit')%></h3>
      <p><%=t('White Rabbit - ресторан на последнем этаже в историческом центре Москвы приглашает Вас попробовать изысканную
        кухню и насладиться панорамой столицы.', default: 'White Rabbit - ресторан на последнем этаже в историческом центре Москвы приглашает Вас попробовать изысканную
        кухню и насладиться панорамой столицы.')%></p>
      <a class="btn btn-primary" href="/restaurants/index_4"><%=t('Подробнее', default: 'Подробнее')%></a>
    </div>
  </div>
</div>


<script src=”//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js”></script>
