

<div class="container">
  <div class="row">
    <div class="span4 offset1">
      <br/>
      <h2 class="title"><%=t('Описание', default: 'Описание')%></h2>
      <p>Расположенный на 16-м этаже Смоленского пассажа, с приходом шеф-повара Владимира Мухина White Rabbit превратился в место, обязательное для посещения каждого интересующегося кухней хотя бы раз в сезон — именно с таким шагом Мухин презентует свои ураганные гастрономические меню. Его стиль, находчивый и обаятельный, заключается в сочетании русских, порой почти забытых продуктов, совершенно авангардистских техник и буквально патологического трудолюбия; в любом случае такого точно нельзя попробовать больше нигде. Хотя просто поесть в White Rabbit тоже можно, и порции вполне большие. В качестве бонуса — вид на Москву с высоты птичьего полета.</p>
    </div>
    <div class="span4" style="padding-right: 100px">
      <p><h1><%=t('Ресторан White Rabbit', default: 'Ресторан White Rabbit')%></h1></p>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5f0b7c44f25d02cd9106326c47fdbde7152cbfe18cce61f20e7428e54e929b24&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="span4 offset1">
      <br/>
      <h2 class="title"><%=t('Контакты', default: 'Контакты')%></h2>
      <p></p>
      <p>Москва, Смоленская площадь, дом 3, 16 этаж</p>
      <p><%=t('Телефон', default: 'Телефон')%>: +7 (495) 66-33-999</p>
      <p><%=t('Работаем', default: 'Работаем')%>:</p>
      <p><%=t('вс/пн/вт/ср', default: 'вс/пн/вт/ср')%> 12:00 - 00:00</p>
      <p><%=t('чт/пт/сб', default: 'чт/пт/сб')%> 12:00 - 02:00</p>
      <p><%=t('Банкеты', default: 'Банкеты')%>: banquetwhiterabbit@wrf.su</p>
    </div>
  </div>
</div>