

<div class="container">
  <div class="row">
    <div class="span4 offset1">
      <br/>
      <h2 class="title"><%=t('Описание', default: 'Описание')%></h2>
      <p><%=t('До сих пор ресторан номер один в Москве — место, куда сразу же ведут любого приезжего иностранца. Несмотря на интерьер, универсальное заведение, работающее круглосуточно и подходящее для любого случая.', default: 'До сих пор ресторан номер один в Москве — место, куда сразу же ведут любого приезжего иностранца. Несмотря на интерьер, универсальное заведение, работающее круглосуточно и подходящее для любого случая.')%></p>
    </div>
    <div class="span4" style="padding-right: 100px">
      <p><h1><%=t('Кафе ПушкинЪ', default: 'Кафе ПушкинЪ')%></h1></p>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5f0b7c44f25d02cd9106326c47fdbde7152cbfe18cce61f20e7428e54e929b24&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="span4 offset1">
      <br/>
      <h2 class="title"><%=t('Контакты', default: 'Контакты')%></h2>
      <p></p>
      <p><%=t('Москва, ул. Тверской бульвар, дом 26-А', default: 'Москва, ул. Тверской бульвар, дом 26-А')%></p>
      <p><%=t('Телефон +7 (495) 739-00-33', default: 'Телефон +7 (495) 739-00-33')%></p>
      <p><%=t('Распорядитель приемов', default: 'Распорядитель приемов')%></p>
      <p>Banquet@cafe-pushkin.ru</p>
      <p><%=t('Телефон', default: 'Телефон')%> +7 (985) 712-31-15</p>
      <p><%=t('Бренд-менеджер', default: 'Бренд-менеджер')%></p>
      <p><%=t('Шумакова Мария', default: 'Шумакова Мария')%></p>
      <p>Shumakova@maison-dellos.com</p>
    </div>

  </div>
</div>
